{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
<style>
.test{
    background-image: url({{ asset('img/peintre2.jpg')|imagine_filter('welcome') }});
    width: 100%;
    height:55em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.test2{
    color:white; 
    padding-top:1.6em;
    width:20em;
    margin-left:2em;
    
}

.apropos{
    font-weight:400;
    font-size:1.5em;
}

.peintre{
    font-weight:400;
    font-size:1em;
}

</style>

    <section>
       <div class="test">
            <div class="test2">
                <span class="apropos">{{ peintre.aPropos }}</span><br><br>
                <span class="peintre">- {{ peintre.prenom }} {{ peintre.nom}} -</span>
            </div>
        </div>
    </section>
{% endblock %}





