
<style>

.test{
    background-image: url({{ asset('img/monet5.jpg')|imagine_filter('welcome') }}) ;
    width: 100%;
    height:35em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.test2{
    color:white; 
    text-align:center;
    vertical-align:middle;
    padding-top:150px;
}

</style>


<div class="test">
        <div class="test2">
            <h1 style="font-size:2.5em;">Eugène Gabriel</h1>
            <p style="font-weight:400;font-size:1em;">Artiste peintre à Gémenos, petit village provençal.</p><br>
            <a href="{{ path('portfolio') }}" class="btn btn-primary btn-lg " style="margin-top:1.8em;">Découvrir mon portfolio</a>
        </div>
</div>
