<style>

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

</style>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="{{ path('home') }}">
            <img src={{asset("/img/logo.png")}} alt="logo"> 
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('realisations') }}">Réalisation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('actualites') }}">Actualités</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path('portfolio') }}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Portfolio
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            {% for categorie in categorieNavbar() %}
                                <a class="dropdown-item" href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a>  
                            {% endfor %}
                                         
                        </div>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('a_propos') }}">A propos</a>
                    </li>         
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Me contacter</a>
                    </li>                
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Start Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- End Script -->