{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}


<style>
.titre{
    font-size:30px!important;
} 

.test{
    background-image: url( {{ asset('img/monet5.jpg')|imagine_filter('full') }} );
    width: 100%;
    height:30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.test2{
    color:white; 
    text-align:center;
    vertical-align:middle;
    padding-top:150px;
}
 .postcard {
	 flex-wrap: wrap;
	 display: flex;
	 box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
	 border-radius: 10px;
	 margin: 0 0 2rem 0;
	 overflow: hidden;
	 position: relative;
	 color: #fff;
    
}
 .postcard .postcard__img_link {
	 display: contents;
}

 .postcard .postcard__img {
	 max-height: 250px;
	 width: 100%;
	 /*object-fit: cover;*/
	 position: relative;
}
@media screen and (min-width: 769px) {
	 .postcard {
		 flex-wrap: inherit;
	}
	 
	 .postcard .postcard__img {
		 max-width: 100%;
		 max-height: 100%;
		 transition: transform 0.3s ease;
	}
	 
	 .postcard:hover .postcard__img {
		 transform: scale(1.1);
	}
    
	 .postcard:nth-child(2n + 1) {
		/*flex-direction: row;*/
	}
	 .postcard:nth-child(2n + 0) {
		 /*flex-direction: row-reverse;*/
	}
	 .postcard:nth-child(2n + 1) .postcard__text::before {
		/*right: -12px !important;
		transform: rotate(4deg);*/
	}
	 .postcard:nth-child(2n + 0) .postcard__text::before {
		/*right: -12px !important;
		transform: rotate(4deg);*/
	}
}

</style>




<div style"body">

    <div class="test">
            <div class="test2">
                <h1 style="font-size:2.5em;">{{ categorie.nom }}</h1>
                <span style="font-weight:400;font-size:1em;">{{ categorie.description }}</span><br>
            </div>
    </div>



    <section style="margin-top:2em;">
        <div class="container">
            <div class="col-md-4">

                {% for peinture in peintures %}
				
					<article class="postcard">
						<a class="postcard__img_link" href="#">
						<img id="img" class="img-fluid rounded" src="{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('miniature') }}" onclick="zoom('{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('full') }}')" />
						</a>
					</article>
				

                {% endfor %}
	
            </div>
        </div>
    </section>
</div>


<script src="https://cdn.jsdelivr.net/npm/bigpicture@2.5.3/dist/BigPicture.js"></script>
<script>
								function zoom(peintureFile){
									
								var img = document.getElementById("img");
								BigPicture({
									el: img,
									imgSrc: peintureFile,
								})
								}
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- End Script -->

{% endblock %}

        