{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
    
    <section>
        <div class="container" style="margin-top:1em;">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7 text-center">
                    <h1 class="display-2 text-black">
                    Portfolio
                    </h1>
                </div>
            </div>
        </div>
    </section>

            <!-- Start Content -->
    <section>
        <div class="container py-5">
            <div class="col-lg-12">
                <div class="row">
                    {% for categorie in categories %}
                        {% set peinture = categorie.peintures|last %}

                                <div class="col-md-4">
                                <a href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}" class="text-decoration-none" style="color:black;">
                                    <div class="card mb-4 product-wap rounded-0">
                                        <div class="card rounded-0">
                                            <img class="card-img rounded-0 img-fluid" src="{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('portfolio') }}">
                                        </div>
                                        <div class="card-body">
                                            <h2 href="#!" class="h2 text-decoration-none">{{ categorie.nom }}</h2>
                                            <p class="w-100 d-flex justify-content-between mb-0">
                                                {{ categorie.description }}
                                            </p>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            
                    {% endfor %}  
                </div>
            </div>
        </div>
    </section>

{% endblock %}


