{% extends 'base.html.twig' %}

{% block title %}Hello BlogpostController!{% endblock %}

{% block body %}


  <div class="px-4 py-2 my-5 text-center">
    <h1 class="display-5 fw-bold">{{ blogpost.titre }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 py-3">{{ blogpost.contenu }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <time class="fs-sm" datetime="2020-12-24">
            Publié le {{ blogpost.createdAt|date('d/m/Y') }}
        </time>
      </div>
    </div>
  </div>

{% endblock %}