{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<style>
#test{
    background-image: url({{ asset('img/peinture.jpg')|imagine_filter('full') }});
    width: 50%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    #test{
        display:none;
    }
}

</style>

<div class="container-fluid">
    <div class="row"style="height:50em">
        <div class="col-lg-6" id="test">
        </div>
        <div class="col-lg-6" style="margin-top:5%;padding-left:10%;padding-right:10%;">
            <div style="text-align:center;">
                <h1>Me contacter.</h1>
                <h5>Une question ? Envie d'acheter une toile ? N'hesitez pas à me contacter.</h5>
            </div>


            {{ form_start(form) }}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" style="margin-top:5%;">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>

                <div class"form-group mb-5" style="margin-top:5%;">      
                    <label class="form-label" for="contactName">
                        {{ form_label(form.nom) }} 
                    </label>
                    {{ form_widget(form.nom ) }}
                </div>

                <div class"form-group mb-5">
                    <label class="form-label" for="contactEmail">
                        {{ form_label(form.email) }} 
                    </label>
                    {{ form_widget(form.email) }}
                </div>

                <div class"form-group mb-5">
                    <label for="contactMessage">
                        {{ form_label(form.message) }} 
                    </label>
                    {{ form_widget(form.message) }}
                </div>

                <div class"form-group mb-0" style="margin-top:5%;text-align:center;">              
                    {{ form_widget(form.envoyer) }}
                </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>

{% endblock %}
