{% extends 'base.html.twig' %}
{% block title %}Hello PeintureController!{% endblock %}

{% block body %}
<!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">

                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                    <a class="postcard__img_link" href="#">
                        <img class="card-img img-fluid" src="{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('miniature') }}" 
                        onclick="zoom('{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('full') }}')" alt="Card image cap" id="img" />
                    </a>
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">


                            <h1 class="h2">{{ peinture.nom }}</h1>

                            {% for categorie in peinture.categorie %}
                                <p class="h3 py-2">{{ categorie.nom }}</p>   
                            {% endfor %}
                           
                            <br>

                            <h6>Description:</h6>
                            <p>{{ peinture.description }}</p>
                           

                             <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Date de réalisation</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p><strong>{{ peinture.dateRealisation|date('d/m/Y')}}</strong></p>
                                </li>
                            </ul>

                             <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Largeur :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p><strong>{{ peinture.largeur }}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Hauteur :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p><strong>{{ peinture.hauteur }}</strong></p>
                                </li>
                            </ul>

                            {% if peinture.enVente %}
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Disponible à la vente</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p><strong>{{ peinture.prix }} €</strong></p>
                                </li>
                            </ul>                            
                            {% endif %}
          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

    <script src="https://cdn.jsdelivr.net/npm/bigpicture@2.5.3/dist/BigPicture.js"></script>
    <script>
        function zoom(peintureFile){
            
        var img = document.getElementById("img");
        BigPicture({
            el: img,
            imgSrc: peintureFile,
        })
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- End Script -->

{% endblock %}

