{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

                    <div style="margin-top:1em;margin-bottom:2em;">
                    <h1>Dernières réalisations</h1>
                    <p>Liat asperiores inventore blest, sunt neque nulla unde ipsum dolores</p>
                    </div>
                        

                    {% for peinture in peintures %}
                        <div class="col-md-6">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}" class="h2 text-decoration-none">
                                        <img class="card-img rounded-0 img-fluid" src="{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('miniature') }}">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}" class="h2 text-decoration-none">{{ peinture.nom }}</a>
                                    
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0" style="margin-top:1em;">
                                        <li>{{ peinture.description|u.truncate(200, '...', false) }}</li>    
                                    </ul>
                                    <br>
                                    <hr>
                                    <p class="text-center mb-0">Ajoutée le {{ peinture.createdAt|date('d/m/Y') }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div div="row">
                    <ul class="pagination pagination-lg justify-content-center">
                      {% do peintures.setPageRange(2) %}
                      {{ knp_pagination_render(peintures, 'base/pagination.html.twig') }}
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


